.box {
    position: absolute;
    z-index: 1000000;
    cursor: pointer;
}
#block {
    cursor: pointer;
}
.lineBox {
    position: absolute;
    z-index: 1;
    min-width: 10px;
    min-height: 10px;
}
.lineBox:focus {
    background-color: red   ;
}
#graph {
    height: 70%;
    width: 80%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    background: white;
    z-index: -1000;
}
#border {
    height: calc(70% + 40px);
    width: calc(80% + 40px);
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    border-radius: 15px;
    transition: 0.25s;
    z-index: -100000;
}
body {
    background-attachment: fixed;
    height: 100%;
    transition: 0.25s;
}
#title {
    text-align: center;
    padding-top: 30px;
    display: inline-block;
    width: calc(100% - 460px);
    vertical-align: top;
    margin: auto;
}
#start-title {
    display: inline-block; 
    width: 100%;
    margin-bottom: 0px;
}
.algos {
    border: solid black 2px;
    border-radius: 3px;
    padding: 10px;
    font-family: 'Abel', sans-serif;
    font-size: 24px;
    font-weight: bold;
    transition: 0.25s;
    cursor: pointer;
}
.algos:hover {
    font-size: 30px;
    transition: 0.25s;
}
#buttons {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);
    display: inline-block;
}
#info {
    transition: 0.25s;
    width: 100%; 
    cursor: pointer;
}
#info-button-div {
    border-radius: 50%;
    width: 30%; 
    display: inline-block;
    transition: box-shadow 2s, width 0.25s;
}
#info-button-div:hover {  
    width: 33%;
}
#info-modal {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 10000000;
    display: none;
}
#info-panel {
    position: absolute;
    width: 70%;
    max-height: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: solid black 5px;
    border-radius: 15px;
    text-align: center;
    padding: 30px;
    padding-bottom: 120px;
}
@media (max-width: 1130px) {
    #info-panel h1 {
        font-size: 3vw
    } 
    #info-panel h4 {
        font-size: 2vw
    }
}
h1, h3, h4, h5, h6, p {
    font-family: 'Montserrat', sans-serif;
 }
 .next {
    position: absolute;
    bottom: 30px;
    width: 100%;
    left: 0px;
    text-align: center;
 }
 #topLeft {
    width: 214px; 
    display: inline-block; 
    margin-top: 10px; 
    margin-left: 10px;
 }
 #topRight {
    width: 224px; 
    vertical-align: top; 
    display: inline-block; 
    margin-top: 30px;
 }
 #header {
     text-align: center;
 }
 #infoDiv {
     position: absolute;
     bottom: 0px;
     left: 50%;
     width: 80%;
     transform: translate(-50%, 0%);
     text-align: center; 
     display: none;
 }
 #stack, #distances, #output {
     height: 100%;
     margin-right: 20px;
     margin-left: 20px;
 }
 #stack, #output {
    display: inline-block;
 }
 #distances {
     display: none;
 }
 .btn {
    text-align: center;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    transition: 0.5s;
    color: black;
    font-weight: bold;
}
.btn:hover {
    color: black;
    text-decoration: none;
    transition: 0.25s;
    background-color: #fc2e2e;
}
.btn:focus {
    outline: none;
}