#header {
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding: none;
    font-size: 40px;
    padding-left: 18%;
    padding-top: 165px;
}
body, html {
    height: 100%;
    margin: 0;
  }
  
  .bg{
    position: relative;
    opacity: 0.85;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../resources/images/background.jpg");
    height: 100%;
  }
  .game-board {
      background-color: #027673;
  }
  #buttons-div {
      padding-top: 300px;
      text-align: center;
  }
  #text-div {
      text-align: center;
      padding-top: 200px;
  }
  #dropdown-div {
      text-align: center;
      padding-top: 100px;
  }
  #buttons {
      color: black;
      text-decoration: none;
      text-align: center;
      padding: 20px;
      border: 2px solid black;
      border-radius: 20px;
      background-color: rgb(26, 150, 1);
      transition: 0.25s;
  }
  #buttons:hover {
      background-color: rgb(39, 233, 0);
      transition: 0.25s;
  }
  #player-select {
      width: 20%;
      border: 2px solid black;
      background-color: white;
      border-radius: 25px;
      padding-top: 10px;
      padding-bottom: 65px;
      margin: auto;
  }
  #p1, #p2, #p3, #p4 {
      padding: 5px;
      border: 1px solid black;
      border-radius: 5px;
  }
  #p1, #p2, #p3, #p4:focus {
      outline: none;
  }

  #top-left {
      position: absolute;
      left: 0px;
      top: 0px;
      width: 188px; /*y - h*/
      height: 660px; /*22w*/
  }
  #left-flower-and-fin {
      width: 40px; /*h*/
      height: 660px; /*22w*/
  }
  #left-flower, #left-fin {
      font-size: 0px;
      width: 40px; /*h*/
  }
  #compass {
      margin-left: 46px; /*x*/
      width: 102px; /*y - 2h - x*/
      height: 102px; /*y - 2h - x*/
  }


  #top-right {
      text-align: end;
      position: absolute;
      top: 0px;
      right: 0px;
      width: 660px; /*22w*/
      height: 206px; /*4h + x*/
  }
  #top-flower-and-fin {
      text-align: end;
      width: 660px; /*22w*/
      height: 40px; /*h*/
  }
  #top-fin, #top-flower {
      font-size: 0px;
      height: 40px; /*h*/
  }
  #round-wind {
      position: absolute;
      right: 0px;
      text-align: center;
      padding-top: 40px; /*h*/
      width: 182px; /*y - x*/
      height: 166px; /*2h + x*/
  }


  #bot-left {
      position: absolute;
      bottom: 0px;
      left: 0px;
      height: 206px; /*4h + x*/
      width: 660px; /*22w*/
  }
  #score {
      text-align: center;
      top: 0px;
      margin-bottom: 40px; /*h*/
      width: 188px; /*y - h*/
      height: 126px; /*h * 3*/
  }
  #individual-scores {
      margin: auto;
      text-align: center;
  }
  #bot-flower-and-fin {
      width: 660px; /*22w*/
      height: 40px; /*h*/
  }
  #bot-flower, #bot-fin {
      height: 40px; /*h*/
      font-size: 0px;
  }

  #right-flower-and-fin {
      position: absolute;
      right: 0px;
      bottom: 0px;
      width: 40px; /*h*/
      height: 660px; /*22w*/
  }
  #right-fin, #right-flower {
      width: 40px; /*h*/
      font-size: 0px;
  }




  #square {
      position: relative;
      margin: auto;
      /*margin-top: 80px; /*2h*/
      /*margin-left: 228px; /*y*/
      margin-bottom: 80px; /*2h*/
      width: 792px; /*18w + 4h + 2x*/
      height: 792px; /*18w + 4h + 2x*/
  }
  #top-hand {
      font-size: 0px;
      position: absolute;
      top: 0px;
      left: 50%;
      margin-left: -210px; /*7w*/
      width: 420px; /*14w*/
      height: 40px; /*h*/
  }
  #left-hand {
    font-size: 0px;
      position: absolute;
      left: 0px;
      top: 50%;
      margin-top: -210px; /*7w*/
      width: 40px; /*h*/
      height: 420px; /*14w*/
  }
  #right-hand {
    font-size: 0px;
    position: absolute;
    right: 0px;
    top: 50%;
    margin-top: -210px; /*7w*/
    width: 40px; /*h*/
    height: 420px; /*14w*/
}
#bot-hand {
    font-size: 0px; 
    position: absolute;
    bottom: 0px;
    left: 50%;
    margin-left: -210px; /*7w*/
    width: 420px; /*14w*/
    height: 40px; /*h*/
}
#draw {
    position: relative;
    top: 86px;
    width: 620px;
    height: 620px;
    margin: 86px; /*h + x*/
}
#top-draw {
    position: absolute;
    top: 0px; 
    left: 50%;
    margin-left: -270px; /*9w*/
    height: 40px; /*h*/
    width: 540px; /*18w*/ 
}
#left-draw {
    font-size: 0px;
    position: absolute;
    left: 0px;
    top: 50%;
    margin-top: -270px; /*9w*/
    width: 40px; /*h*/
    height: 540px; /*18w*/
}
#right-draw {
    font-size: 0px;
    position: absolute;
    right: 0px;
    top: 50%;
    margin-top: -270px; /*9w*/
    width: 40px; /*h*/
    height: 540px; /*18w*/
}
#bot-draw {
    font-size: 0px;
    position: absolute;
    bottom: 0px; 
    left: 50%;
    margin-left: -270px; /*9w*/
    height: 40px; /*h*/
    width: 540px; /*18w*/ 
}
#mid {
    height: 540px; /*18w*/
    width: 540px; /*18w*/
    padding-top: 110px; /*(540 - 8h) / 2*/
    padding-bottom: 110px; /*(540 - 8h) / 2*/
    padding-left: 90px; /*(540 - 12w) / 2*/
    padding-right: 90px; /*(540 - 12w) / 2*/
}

  .tile-horiz {
      width: 40px;
      height: 30px;
      border: 1px solid black;
      background-color: #1ca800;
      border-radius: 3px;
  }
  .tile-horiz:focus {
      outline: none;
  }
  .tile-vert {
    width: 30px;
    height: 40px;
    border: 1px solid black;
    background-color: #1ca800;
    border-radius: 3px;
}
.tile-vert:focus {
    outline: none;
}
.row {
    margin-left: 0px;
    margin-right: 0px;
}