#header {
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding: none;
    font-size: 40px;
    padding-left: 18%;
    padding-top: 165px;
}
body, html {
    height: 100%;
    margin: 0;
  }
  
  .bg{
    position: relative;
    opacity: 0.85;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../resources/images/background.jpg");
    height: 100%;
  }
  .game-board {
      background-color: #027673;
  }
  #buttons-div {
      padding-top: 300px;
      text-align: center;
  }
  #text-div {
      text-align: center;
      padding-top: 200px;
  }
  #dropdown-div {
      text-align: center;
      padding-top: 100px;
  }
  #buttons {
      color: black;
      text-decoration: none;
      text-align: center;
      padding: 20px;
      border: 2px solid black;
      border-radius: 20px;
      background-color: rgb(26, 150, 1);
      transition: 0.25s;
  }
  #buttons:hover {
      background-color: rgb(39, 233, 0);
      transition: 0.25s;
  }
  #player-select {
      width: 20%;
      border: 2px solid black;
      background-color: white;
      border-radius: 25px;
      padding-top: 10px;
      padding-bottom: 65px;
      margin: auto;
  }
  #p1, #p2, #p3, #p4 {
      padding: 5px;
      border: 1px solid black;
      border-radius: 5px;
  }
  #p1, #p2, #p3, #p4:focus {
      outline: none;
  }
  #vert-flower {
      position: absolute;
      font-size: 0;
      padding: 0px;
      width: 40px;
      height: 240px;
  }
  #vert-flower-1 {
    position: absolute;
    font-size: 0;
    padding: 0px;
    width: 40px;
    height: 240px;
}
  #vert-finish {
      position: absolute;
      font-size: 0;
      padding: 0px;
      width: 40px;
      height: 420px;
  }
  #vert-finish-1 {
    position: absolute;
    font-size: 0;
    padding: 0px;
    width: 40px;
    height: 420px;
}
  #compass{
      margin-left: 86px;
      width: 176px;
      height: 176px;
  }
  #horiz-hand{ 
      margin-top: 80px;
      height: 40px;
      font-size: 0;
      padding: 0px;
  }
  #horiz-hand-1{ 
    margin-top: 46px;
    height: 40px;
    font-size: 0;
    padding: 0px;
}
  #horiz-draw {
    margin-top: 0px;
    height: 40px;
    font-size: 0;
    padding: 0px;
  }
  #horiz-draw-1 {
    margin-top: 46px;
    height: 40px;
    font-size: 0;
    padding: 0px;
  }
  #horiz-fin {
      height: 40px;
      width: 420px;
      font-size: 0;
  }
  #horiz-fin-1 {
    height: 40px;
    width: 420px;
    font-size: 0;
}
  #horiz-flower {
      height: 40px;
      width: 240px;
      font-size: 0;
  }
  #horiz-flower-1 {
    height: 40px;
    width: 240px;
    font-size: 0;
}
  #round-wind {
      background-color: white;
      margin-top: 46px;
      text-align: center;
      position: absolute;
      right: 0px;
      width: 262px;
      height: 169px;
      margin-right: 0px;
  }
  #vert-hand {
      width: 40px;
      position: absolute;
      top: 50%;
      margin-top: -210px;
      margin-left: 0px;
      font-size: 0;
  }
  #vert-hand-1 {
    width: 40px;
    position: absolute;
    top: 50%;
    margin-top: -210px;
    font-size: 0;
    margin-left: 86px;
}
  #vert-draw {
      position: absolute;
      margin-left: 86px;
      width: 40px;
      height: 540px;
      font-size: 0;
  }
  #vert-draw-1{
    position: absolute;
    width: 40px;
    height: 540px;
    font-size: 0;
}
  #vert-hand-and-draw {
    width: 126px;
    position: relative;
    margin-top: -34px; 
    height: 540px;
  }
  #vert-hand-and-draw-1 {
    width: 126px;
    position: relative;
    margin-top: -34px; 
    margin-left: 222px;
    height: 540px;
  }
  #horiz-hand-and-draw {
    position: absolute; 
    left: 50%; 
    margin-left: -270px; 
    height: 206px; 
    width: 540px;
  }
  #horiz-fin-and-flower {
    position: absolute; 
    right: 0px; 
    width: 660px; 
    text-align: right;
  }
  #horiz-draw-and-hand {
    text-align: center; 
    position: absolute; 
    left: 50%; 
    margin-left: -270px; 
    margin-top: 34px; 
    height: 126px;
  }
  #mid {
      margin-top: -34px;
      width: 540px;
      height: 540px;
      padding-top: 110px;
      padding-bottom: 110px;
      padding-left: 90px;
      padding-right: 90px; 
  }
  #next-button{
      margin-top: 126px;
      margin-left: 888px;
      height: 40px;
      width: 126px;
  }
  #score {
      background-color: white;
      text-align: center;
      width: 300px;
      padding-bottom: 20px;
  }
  #individual-score {
      margin: auto;
  }
  .tile-horiz {
      width: 40px;
      height: 30px;
      border: 1px solid black;
      background-color: #1ca800;
      border-radius: 3px;
  }
  .tile-horiz:focus {
      outline: none;
  }
  .tile-vert {
    width: 30px;
    height: 40px;
    border: 1px solid black;
    background-color: #1ca800;
    border-radius: 3px;
}
.tile-vert:focus {
    outline: none;
}
.score-text {
    font-size: 30px;
}
#first-row {
    height: 240px;
    text-align: center;
}
#second-row {
    height: 472px; 
    position: relative;
}
#third-row {
    height: 240px; 
    position: relative; 
}
.row {
    margin-left: 0px;
    margin-right: 0px;
}